@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700,800|Dancing+Script:400,500,600,700&display=swap&subset=vietnamese");
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 0.3s;
}



